<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/style.css" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
    <title></title>
</head>
<body>
<div class="header">
    <h1>Výberové konanie</h1>
    <img src="static/img/pcklub.png" />
</div>
<div class="main">
    <h2>Základné údaje:</h2>

        <form action="/position" method="post" id="basic">

            <h3>Meno:</h3>
            <input type="text" name="meno">
            <h3>Priezvisko:</h3>
            <input type="text" name="priezvisko">
            <h3>Izba:</h3>
            <input type="text" name="izba"><br><br>

            <h3>Prečo chceš byť členom IT Klubu?</h3>
            <textarea name="clen" form="basic" placeholder="Napis nieco..."></textarea>
            <h3>Prečo by sme mali vybrať práve Teba?</h3>
            <textarea name="pravety" form="basic" placeholder="Napis nieco..."></textarea><br>
            <input type="submit" value="Dalej >">

        </form>
</div>


</body>
</html>