<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/style.css" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
    <title></title>
</head>
<body>
<div class="header">
    <h1>Ahoj {{ name }}!</h1>
    <img src="static/img/pcklub.png" />
</div>
<div class="main">
        <h2>S čím máš skúsenosti?</h2>
        <form action="/third" method="post" id="skill">
            <button type="button" class="check">Linux</button> <br>
            <button type="button" class="check">CCNA</button><br>
            <button type="button" class="check">CCNP</button><br>
            <button type="button" class="check">Java</button><br>
            <button type="button" class="check">Python</button><br>
            <button type="button" class="check">Ruby</button><br>
            <button type="button" class="check">Adobe Photoshop</button><br>
            <p>Inee:</p>
            <textarea name="ine" form="skill"></textarea><br>
            <input type="submit" value="Dalej >" class="skill">
        </form>

</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="static/js/clickScript.js"></script>
</body>
</html>